@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.movil {
  background: url("/movil.png");
  background-color: #fade7e;
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: center top;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  .movil {
    background-position: center center;
  }
}

.movil:hover {
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: center center;
  transition: all 0.5s ease;
}

.info-rotate:hover h5 {
  transform: rotate(10deg);
  transition: all 0.5s ease;
}

*::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #b6b6b6e4; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 0px solid #f1f1f1; /* creates padding around scroll thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0e4; /* color of the scroll thumb */
}

.card .ArrowUpRight {
  transition: all 0.5s ease;
}

.card:hover .ArrowUpRight {
  transform: translate(5px, -5px);
  transition: all 0.5s ease;
}

.slide-in {
  position: fixed;
  top: 0;
  z-index: 9999;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #171717;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #171717;
  transform-origin: top;
}

.parallax {
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  text-transform: uppercase;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

.footerbg {
  background: url(cursor.webp);
  background-size: 10%;
  background-position: left 10px bottom 10px;
  transition: all 0.5s ease;
  background-repeat: no-repeat;
  background-color: #e8e8e8;
  filter: invert(100%);
}

.footerbg h5 {
  color: black;
  transition: all 0.5s ease;
}

.footerbg:hover {
  background-position: left 15px bottom 15px;
  transition: all 0.5s ease;
}

.menu-mobile a:focus {
  color: white;
}

.home-img {
  background: url("profile/aboutme.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 500px;
  height: 500px;
  /* box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%); */
  order: 1;
  justify-self: center;
  /* animation: profile_animate 8s ease-in-out infinite 1s; */
  border-radius: 0rem;
}

@media screen and (max-width: 768px) {
  .home-img {
    width: 300px;
    height: 300px;
  }
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none; /* Evita que el círculo interfiera con otros eventos del ratón */
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  display: none;
}
